//COLOR VARIABLES
$color-indigo: hsl(249, 99%, 64%);
$color-violet: hsl(278, 94%, 30%);
$color-red: hsl(0, 100%, 66%);
$color-white: hsl(0, 0%, 100%);
$color-light-gray-violet: hsl(270, 3%, 87%);
$color-dark-gray-violet: hsl(279, 6%, 55%);
$color-very-dark-violet: hsl(278, 68%, 11%);

//MIXINS
@mixin respond($breakpoint) {
    @media only screen and (max-width: (($breakpoint / 16px) * 1em)) {
        @content
    }
}

@mixin respond-height($breakpoint) {
    @media only screen and (max-height: (($breakpoint / 16px) * 1em)) {
        @content
    }
}

//BREAKPOINT VARIABLES
$bp-xl: 1500px;
$bp-lg: 1250px;
$bp-md: 1100px;
$bp-sm: 950px;
$bp-xs: 760px;
$bp-tiny: 360px;

$height-sm: 700px;
$height-xs: 500px;

//BASE
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond($bp-lg) {
        font-size: 56.25%;
    }

    @include respond($bp-md) {
        font-size: 50%;
    }

    @include respond($bp-sm) {
        font-size: 44%;
    }

    @include respond($bp-xs) {
        font-size: 62.5%;
    }

    @include respond($bp-tiny) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//LAYOUT
.container {
    display: flex;
    position: relative;
    height: 100vh;
    z-index: 0;

    @include respond($bp-xs) {
        flex-direction: column;
    }
}

.left {
    flex: 1;
    background-image: url('../../images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include respond($bp-xs) {
        background-image: url('../../images/bg-main-mobile.png');
        background-size: cover;
    }
}

.right {
    display: flex;
    flex: 2;
    background-color: $color-white;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;

    @include respond($bp-xs) {
        padding: 0 2rem;
    }
}

//COMPONENTS
.card {

    &__front,
    &__back {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;

        @include respond($bp-xs) {
            // This font-size media query resizes the whole card on very small screens
            // All sizes within the card div are em not rem
            // This allows everything in the card to resize at the same time, without affecting the sizing of other elements on the page
            font-size: 6.2px;
        }
        
        &>img {
            visibility: hidden;
            height: 24.5em;
        }
    }

    &__front {
        background-image: url('../../images/bg-card-front.png');
        bottom: 51%;
        left: 33.333%;
        transform: translateX(-70%);
        z-index: 2;

        @include respond($bp-sm) {
            left: 5%;
            transform: translateX(0);
        }

        @include respond($bp-xs) {
            left: calc(50% - 3rem);
            top: 12.5rem;
            transform: translateX(-50%);
            bottom: auto;
        }

        @include respond-height($height-sm) {
            @include respond($bp-xs) {
                top: 9.5rem;
            }
        }

        &--info {
            position: absolute;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            row-gap: 2em;
            width: 100%;
            color: $color-white;
            bottom: 0;
            left: 0;
            padding: 0rem 3em;
        }

        &--number {
            grid-column: 1 / end;
            justify-self: start;
            font-size: 2.9em;

            @include respond($bp-tiny) {
                font-size: 2.8em;
            }
        }

        &--name,
        &--date {
            font-size: 1.2em;
            text-transform: uppercase;

            @include respond($bp-xs) {
                font-size: 1.4em;
            }

        }

        &--name {
            justify-self: start;
        }

        &--date {
            justify-self: end;
        }
    }

    &__circle {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 1.5em;
        top: 0;
        left: 0;
        padding: 3em;

        &--large {
            height: 4.5em;
            width: 4.5em;
            background-color: $color-white;
            border-radius: 50%;
        }

        &--small {
            height: 2em;
            width: 2em;
            border: 1px $color-white solid;
            border-radius: 50%;
        }
    }

    &__back {
        background-image: url('../../images/bg-card-back.png');
        top: 51%;
        left: 33.333%;
        transform: translateX(-50%);
        z-index: 1;

        @include respond($bp-sm) {
            left: 5%;
            transform: translateX(0);
        }

        @include respond($bp-xs) {
            left: calc(50% + 3rem);
            top: 4rem;
            transform: translateX(-50%);
        }

        @include respond-height($height-sm) {
            @include respond($bp-xs) {
                top: 1rem;
            }
        }

        &--cvc {
            position: absolute;
            top: 45%;
            right: 12%;
            color: $color-white;
            font-size: 1.2em;
        }
    }
}

.form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 2fr;
    row-gap: 2.5rem;
    column-gap: 2rem;
    max-width: 38rem;

    @include respond($bp-sm) {
        margin: 0;
    }

    &__group {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__label {
        justify-self: center;
        align-self: start;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-very-dark-violet;
    }

    &__input {
        justify-self: center;
        align-self: center;
        border: 1px solid $color-light-gray-violet;
        font-size: 1.8rem;
        font-family: inherit;
        width: 100%;
        padding: 1rem;
        border-radius: 0.8rem;
        text-transform: capitalize;

        &:focus {
            background: linear-gradient(white, white) padding-box,
            linear-gradient(to right bottom, $color-indigo, $color-violet) border-box;
            border-radius: 1rem;
            border: 1px solid transparent;
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $color-light-gray-violet;
            text-transform: none;
        }
    }

    &__name, &__number, &__button {
        grid-column: 1 / end;
    }

    &__date {
        grid-column: 1 / 3;
        
        &--group {
            display: flex;
            gap: 1rem;
        }
    }

    &__cvc {
        grid-column: 3 / end;
    }
}

.invalid {
    border: 1px solid $color-red;
}

.btn {
    border: none;
    background-color: $color-very-dark-violet;
    color: $color-light-gray-violet;
    font-family: inherit;
    font-size: 1.8rem;
    padding: 1.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

.completed {
    display: none;
    text-align: center;
    width: 38rem;

    &>h1 {
        font-size: 3rem;
        font-weight: 500;
        color: $color-very-dark-violet;
        text-transform: uppercase;
        padding: 4rem 0 1rem 0;
    }

    &>h3 {
        font-size: 1.8rem;
        font-weight: 500;
        color: $color-dark-gray-violet;
        letter-spacing: normal;
        padding-bottom: 4rem;
    }
}

.error {
    color: $color-red;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
}

#error__name, #error__number, #error__date, #error__cvc {
    display: none;
}

//ATTRIBUTION
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
